[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Ignacio Acosta
	email = iaacosta@uc.cl
	signingkey = ~/.ssh/id_ed25519
[pager]
	branch = false
	log = false
[pull]
	rebase = true
[remote "origin"]
	prune = true
[commit]
	gpgsign = true
[gpg]
	format = ssh
[core]
	excludesfile = ~/dotfiles/.global-gitignore
