# ignore everything
*

# 
!.gitignore
!.gitconfig
!.zshrc
!setup.sh
!ghostty/
!ghostty/**
!nvim/
!nvim/**
!tmux/
!tmux/**
!opencode/
!opencode/opencode.jsonc
!opencode/skill/
!opencode/skill/**
!opencode/agents/
!opencode/agents/**
!README.md
